################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/<%=projectName%>/obj/Debug
node_modules
/WebComponents/buildlocal
/WebComponents/buildSP
/**/*.wsp
/**/.suo
/<%=projectName%>/pkg
/<%=projectName%>/pkgobj
/<%=projectName%>/bin
/<%=projectName%>/obj
