<script type="text/javascript">
    "use strict"
    var css, script;
    
    css = document.createElement('link');
    css.rel = "stylesheet";
    css.type = "text/css";
    css.href = _spPageContextInfo.siteAbsoluteUrl + "/SBFrameWork/<%=projectName%>/css/webpart.css";
    document.write(css.outerHTML);
    
    script = document.createElement('script');
    script.src = _spPageContextInfo.siteAbsoluteUrl + '/SBFrameWork/<%=projectName%>/js/part-main.js';
    document.write(script.outerHTML);

</script>
